<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="author" content="XuLong">
    <title>{{ page.title }}</title>
    <style type="text/css">
      @import url(/themes/default/css/style.css) all;
    </style>
  </head>
  <body>
    <div id="header">
      <div class="section">
        <div id="site-name"><strong><a href="/" title="Home">Playts</a></strong></div>
      </div>
    </div>
    <div id="main">
      <div class="section">
        {{ content }}
      </div>
    </div>
    <div id="footer"><div class="section">Copyright © Playts 2012</div></div>
  </body>
</html>
